# Ignore all compiler files
*.o
*.obj
*.dll
*.exe
*.so
*.dylib
*.class
*.pyc
*.pyo
*.out
*.a
*.lib
*.ilk
*.pdb
/out

# Ignore VS Code files
.vscode

# Ignore log files etc.
*.log

#Ignore Pictures
/img

#Ignore Release
/release