#include "resource.h"

ICON_ID ICON "include/src/Icon4.ico"

ANIMATION0 ICON "include/src/Animation/Animation0.ico" 
ANIMATION1 ICON "include/src/Animation/Animation1.ico"
ANIMATION2 ICON "include/src/Animation/Animation2.ico"
ANIMATION3 ICON "include/src/Animation/Animation3.ico"
ANIMATION4 ICON "include/src/Animation/Animation4.ico"
ANIMATION5 ICON "include/src/Animation/Animation5.ico"
ANIMATION6 ICON "include/src/Animation/Animation6.ico"
ANIMATION7 ICON "include/src/Animation/Animation7.ico"
ANIMATION8 ICON "include/src/Animation/Animation8.ico"
ANIMATION9 ICON "include/src/Animation/Animation9.ico"
ANIMATION10 ICON "include/src/Animation/Animation10.ico"
ANIMATION11 ICON "include/src/Animation/Animation11.ico"
ANIMATION12 ICON "include/src/Animation/Animation12.ico"
ANIMATION13 ICON "include/src/Animation/Animation13.ico"
ANIMATION14 ICON "include/src/Animation/Animation14.ico"
ANIMATION15 ICON "include/src/Animation/Animation15.ico"
ANIMATION16 ICON "include/src/Animation/Animation16.ico"
ANIMATION17 ICON "include/src/Animation/Animation17.ico"
ANIMATION18 ICON "include/src/Animation/Animation18.ico"
ANIMATION19 ICON "include/src/Animation/Animation19.ico"
ANIMATION20 ICON "include/src/Animation/Animation20.ico"
